@{
    ViewBag.Title = "Orbital Launches";
}

    <div class="container-fluid co-grid">
        <div class="row">
            <div class="col-sm-4">Name</div>
            <div class="col-sm-4">Date</div>
            <div class="col-sm-4">Location</div>
            <div class="w-100"></div>
            <div class="col-sm-4">{Launch name here}</div>
            <div class="col-sm-4">{Launch date here}</div>
            <div class="col-sm-4">{Launch date location}</div>
            <div class="w-100"></div>
            <div class="col-sm-4">{Launch name here}</div>
            <div class="col-sm-4">{Launch date here}</div>
            <div class="col-sm-4">{Launch date location}</div>
            <div class="w-100"></div>
            <div class="col-sm-4">{Launch name here}</div>
            <div class="col-sm-4">{Launch date here}</div>
            <div class="col-sm-4">{Launch date location}</div>
        </div>
    </div>

