@model Space_Launches.Models.LaunchCollectionModel


<h2>@ViewBag.Title</h2>

<p>Total: @Html.DisplayFor(model => model.Count) </p>
<!-- p>Current Number of Results: Html.DisplayFor(model => model.CurrentCount()) </p -->

<div class="container-fluid co-grid">
    <div class="row">
        <div class="col-sm-4">Name</div>
        <div class="col-sm-4">Id</div>
        @foreach (var launch in Model.Results)
        {
            <div class="w -100"></div>
            <div class="col-sm-4">@launch.Name</div>
            <div class="col-sm-4">@launch.Id</div>
        }
    </div>
</div>

