@{
    ViewBag.Title = "Orbital Launches";
}

<div class="container-fluid">
    <div class="row co-grid">
        <div class="col">Name</div>
        <div class="col">Date</div>
        <div class="col">Location</div>
        <div class="w-100"></div>
        <div class="col">{Launch name here}</div>
        <div class="col">{Launch date here}</div>
        <div class="col">{Launch date location}</div>
        <div class="w-100"></div>
        <div class="col">{Launch name here}</div>
        <div class="col">{Launch date here}</div>
        <div class="col">{Launch date location}</div>
        <div class="w-100"></div>
        <div class="col">{Launch name here}</div>
        <div class="col">{Launch date here}</div>
        <div class="col">{Launch date location}</div>
    </div>
</div>

