body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* TWEAKS */

.navbar-inverse .navbar-brand {
    color: white !important;
}

/* CODE ONEWARD   
 *   styles for Code Onward tweaks and overrides
*/

.co-navbar, .co-footer {
    background: #222971 !important;
    /*
    background: -webkit-linear-gradient(to right, #00001a, #00004d) !important;
    background: linear-gradient(to right, #00001a, #00004d !important);
*/
}

.co-footer {
    padding: 4rem 3rem 0rem 3rem;
}

.co-credit {
    font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
    font-style: italic;
    font-size: large;    
    color: #90b6f8;
}

.co-social {
    padding: 2rem 1rem 2rem 1rem;
}

h4 {
    margin-top: 25px;
}

.co-grid {
    margin-top: 14px;
    padding: 12px 4px;
}

.row {
    margin-bottom: 20px;
}

.row .row {
    margin-top: 10px;
    margin-bottom: 0;
}


.row div[class|="col"], [class*="col-"] {
    color: #324078;
    background-color: #eee;
    border: 1px solid #444;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
}

.row > div[class|="col"]:nth-child(-n+3) {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #333;
    color: #eee;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

